@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	À l’EPHEC des tutorats sont organisé afin d’aider les étudiants dans la réussite de leur étude. Tout étudiant qui le souhaite peut faire appel à cet outil pour obtenir l’aide d’un étudiant d’année supérieure. Les étudiants désireux d’offrir leurs aides doivent quant à avoir réussi les cours avec 16/20 ou plus.
</p>	
<p>	
	Pour faciliter la gestion des tutorats à l’EPHEC une application va être développé. Les étudiants désirant obtenir de l’aide pour un cours peuvent s’inscrire à une séance de tutorat. Si aucune séance de tutorat n’est organisée pour ce cours ou si le nombre d’inscrit est trop important une demande de nouvelle séance est créée. Un tuteur crée une séance de tutorat pour un cours en indiquant le lieu et l’heur de ce dernier.
</p>
