@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Avenue Konrad Adenauer 3,<br />
	1200 Woluwe-Saint-Lambert<br />

</address>

<address>
	<strong>Support:</strong><br/>
	Mail:<a href="mailto:Support@example.com"> Bilal@ElKhattouti.com</a><br />
	<abbr title="Phone">P:</abbr> 0485049409
</address>