@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tutorat</h1>
    <p class="lead">Besoins d'aide pour un cours ? Tu es au bon endroit.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Ephec</h2>
		<p>
			À l’EPHEC des tutorats sont organisé afin d’aider les étudiants dans la réussite de leur étude. Tout étudiant qui le souhaite peut faire appel à cet outil pour obtenir l’aide d’un étudiant d’année supérieure. Les étudiants désireux d’offrir leurs aides doivent quant à avoir réussi les cours avec 16/20 ou plus.
		</p>
		<p><a class="btn btn-default" href="https://www.ephec.be">EPHEC &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Commencer ?</h2>
		<p>
			Pour commencer connecte toi avec ton PSR.
		</p>
		<p><a class="btn btn-default" href="https://localhost:44303/UserProfile">GO &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Api</h2>
		<p>Ici toute la documentation de l'api</p>
		<p><a class="btn btn-default" href="http://localhost:49754/">API &raquo;</a></p>
	</div>
</div>